__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
.vscode/
.idea/